News/Service References/MeteoService/HydroService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HydroService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.8.3.180:8002/HydroService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.8.3.180:8002/HydroService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.8.3.180:8002/HydroService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://10.8.3.180:8002/HydroService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://10.8.3.180:8002/HydroService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AmurHydroLibrary.Reports" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHydroService_Hello_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="IHydroService_Hello_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SetData_InputMessage">
    <wsdl:part name="parameters" element="tns:SetData" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SetData_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/" name="detail" element="q1:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SetData_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/" name="detail" element="q2:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataValue" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataValueResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValue_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/" name="detail" element="q3:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValue_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/" name="detail" element="q4:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataValues" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValues_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/" name="detail" element="q5:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValues_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/" name="detail" element="q6:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValuesForReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataValuesForReport" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValuesForReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataValuesForReportResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValuesForReport_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/" name="detail" element="q7:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValuesForReport_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/" name="detail" element="q8:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetAllDataValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDataValue" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetAllDataValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDataValueResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetAllDataValue_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/" name="detail" element="q9:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetAllDataValue_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/" name="detail" element="q10:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetAllDataValueLocal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDataValueLocal" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetAllDataValueLocal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDataValueLocalResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetAllDataValueLocal_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/" name="detail" element="q11:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetAllDataValueLocal_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/" name="detail" element="q12:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValueLocal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataValueLocal" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValueLocal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataValueLocalResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValueLocal_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/" name="detail" element="q13:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValueLocal_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/" name="detail" element="q14:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValuesLocal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataValuesLocal" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValuesLocal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataValuesLocalResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValuesLocal_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/" name="detail" element="q15:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValuesLocal_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/" name="detail" element="q16:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValuesForReportLocal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataValuesForReportLocal" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValuesForReportLocal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataValuesForReportLocalResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValuesForReportLocal_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/" name="detail" element="q17:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValuesForReportLocal_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/" name="detail" element="q18:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetWaterObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWaterObjects" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetWaterObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWaterObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetWaterObjects_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q19="http://schemas.datacontract.org/2004/07/" name="detail" element="q19:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSitesWithoutWaterObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSitesWithoutWaterObject" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSitesWithoutWaterObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSitesWithoutWaterObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSitesWithoutWaterObject_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.datacontract.org/2004/07/" name="detail" element="q20:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetWaterObjectBySite_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWaterObjectBySite" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetWaterObjectBySite_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWaterObjectBySiteResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetWaterObjectBySite_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.datacontract.org/2004/07/" name="detail" element="q21:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetWaterObjectBySite_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.datacontract.org/2004/07/" name="detail" element="q22:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SaveWaterObject_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveWaterObject" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SaveWaterObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveWaterObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SaveWaterObject_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q23="http://schemas.datacontract.org/2004/07/" name="detail" element="q23:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SaveWaterObject_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.datacontract.org/2004/07/" name="detail" element="q24:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SaveWaterObjectOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveWaterObjectOrder" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SaveWaterObjectOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveWaterObjectOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SaveWaterObjectOrder_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q25="http://schemas.datacontract.org/2004/07/" name="detail" element="q25:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SaveWaterObjectOrder_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q26="http://schemas.datacontract.org/2004/07/" name="detail" element="q26:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetAllGeoTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGeoTypes" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetAllGeoTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGeoTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetAllGeoTypes_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q27="http://schemas.datacontract.org/2004/07/" name="detail" element="q27:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetGeoType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGeoType" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetGeoType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGeoTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetGeoType_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q28="http://schemas.datacontract.org/2004/07/" name="detail" element="q28:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetGeoType_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q29="http://schemas.datacontract.org/2004/07/" name="detail" element="q29:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetLastClimateInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastClimateInfo" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetLastClimateInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastClimateInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetLastClimateInfo_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q30="http://schemas.datacontract.org/2004/07/" name="detail" element="q30:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetLastClimateInfo_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q31="http://schemas.datacontract.org/2004/07/" name="detail" element="q31:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetLastSiteCriteria_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastSiteCriteria" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetLastSiteCriteria_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastSiteCriteriaResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetLastSiteCriteria_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q32="http://schemas.datacontract.org/2004/07/" name="detail" element="q32:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetLastSiteCriteria_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q33="http://schemas.datacontract.org/2004/07/" name="detail" element="q33:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteCriterias_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteCriterias" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteCriterias_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteCriteriasResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteCriterias_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q34="http://schemas.datacontract.org/2004/07/" name="detail" element="q34:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteCriterias_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q35="http://schemas.datacontract.org/2004/07/" name="detail" element="q35:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SaveCriteria_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCriteria" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SaveCriteria_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCriteriaResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SaveCriteria_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q36="http://schemas.datacontract.org/2004/07/" name="detail" element="q36:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SaveCriteria_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q37="http://schemas.datacontract.org/2004/07/" name="detail" element="q37:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetCriteriaTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCriteriaTypes" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetCriteriaTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCriteriaTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetCriteriaTypes_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q38="http://schemas.datacontract.org/2004/07/" name="detail" element="q38:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSitesByWaterObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSitesByWaterObject" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSitesByWaterObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSitesByWaterObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSitesByWaterObject_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q39="http://schemas.datacontract.org/2004/07/" name="detail" element="q39:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSitesByWaterObject_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q40="http://schemas.datacontract.org/2004/07/" name="detail" element="q40:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteList" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteListResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteList_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q41="http://schemas.datacontract.org/2004/07/" name="detail" element="q41:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSite_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSite" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSite_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSite_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q42="http://schemas.datacontract.org/2004/07/" name="detail" element="q42:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSite_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q43="http://schemas.datacontract.org/2004/07/" name="detail" element="q43:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SaveSiteWithRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveSiteWithRelation" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SaveSiteWithRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveSiteWithRelationResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SaveSiteWithRelation_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q44="http://schemas.datacontract.org/2004/07/" name="detail" element="q44:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SaveSiteWithRelation_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q45="http://schemas.datacontract.org/2004/07/" name="detail" element="q45:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteListWithParent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteListWithParent" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteListWithParent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteListWithParentResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteListWithParent_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q46="http://schemas.datacontract.org/2004/07/" name="detail" element="q46:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteListWithParent_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q47="http://schemas.datacontract.org/2004/07/" name="detail" element="q47:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteTypes" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteTypes_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q48="http://schemas.datacontract.org/2004/07/" name="detail" element="q48:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteTypes_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q49="http://schemas.datacontract.org/2004/07/" name="detail" element="q49:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetVariable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVariable" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetVariable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVariableResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetVariable_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q50="http://schemas.datacontract.org/2004/07/" name="detail" element="q50:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetVariable_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q51="http://schemas.datacontract.org/2004/07/" name="detail" element="q51:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteTypeVariables_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteTypeVariables" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteTypeVariables_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteTypeVariablesResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteTypeVariables_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q52="http://schemas.datacontract.org/2004/07/" name="detail" element="q52:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteTypeVariables_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q53="http://schemas.datacontract.org/2004/07/" name="detail" element="q53:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetAllSiteGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSiteGroups" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetAllSiteGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSiteGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetAllSiteGroups_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q54="http://schemas.datacontract.org/2004/07/" name="detail" element="q54:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetAttributesForSite_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributesForSite" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetAttributesForSite_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributesForSiteResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetAttributesForSite_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q55="http://schemas.datacontract.org/2004/07/" name="detail" element="q55:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetAttributesForSite_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q56="http://schemas.datacontract.org/2004/07/" name="detail" element="q56:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteAttributeTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteAttributeTypes" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteAttributeTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteAttributeTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteAttributeTypes_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q57="http://schemas.datacontract.org/2004/07/" name="detail" element="q57:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteAttributeTypes_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q58="http://schemas.datacontract.org/2004/07/" name="detail" element="q58:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SaveSiteAttribute_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveSiteAttribute" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SaveSiteAttribute_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveSiteAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SaveSiteAttribute_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q59="http://schemas.datacontract.org/2004/07/" name="detail" element="q59:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_SaveSiteAttribute_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q60="http://schemas.datacontract.org/2004/07/" name="detail" element="q60:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteAttribute_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteAttribute" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteAttribute_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteAttribute_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q61="http://schemas.datacontract.org/2004/07/" name="detail" element="q61:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSiteAttribute_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q62="http://schemas.datacontract.org/2004/07/" name="detail" element="q62:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSensorDifferences_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSensorDifferences" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSensorDifferences_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSensorDifferencesResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSensorDifferences_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q63="http://schemas.datacontract.org/2004/07/" name="detail" element="q63:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetSensorDifferences_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q64="http://schemas.datacontract.org/2004/07/" name="detail" element="q64:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValueFromId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataValueFromId" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValueFromId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataValueFromIdResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValueFromId_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q65="http://schemas.datacontract.org/2004/07/" name="detail" element="q65:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataValueFromId_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q66="http://schemas.datacontract.org/2004/07/" name="detail" element="q66:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataSource_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSource" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataSource_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSourceResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataSource_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q67="http://schemas.datacontract.org/2004/07/" name="detail" element="q67:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataSource_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q68="http://schemas.datacontract.org/2004/07/" name="detail" element="q68:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetCurve_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurve" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetCurve_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurveResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetCurve_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q69="http://schemas.datacontract.org/2004/07/" name="detail" element="q69:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetCurve_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q70="http://schemas.datacontract.org/2004/07/" name="detail" element="q70:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetQualifiers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQualifiers" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetQualifiers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQualifiersResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetQualifiers_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q71="http://schemas.datacontract.org/2004/07/" name="detail" element="q71:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategory" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetCategory_InputDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q72="http://schemas.datacontract.org/2004/07/" name="detail" element="q72:InputDataException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetCategory_InnerServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q73="http://schemas.datacontract.org/2004/07/" name="detail" element="q73:InnerServiceException" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataByFormDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByFormDate" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetDataByFormDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByFormDateResponse" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetAllVariables_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVariables" />
  </wsdl:message>
  <wsdl:message name="IHydroService_GetAllVariables_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVariablesResponse" />
  </wsdl:message>
  <wsdl:portType name="IHydroService">
    <wsdl:operation name="Hello">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/Hello" message="tns:IHydroService_Hello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/HelloResponse" message="tns:IHydroService_Hello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/SetData" message="tns:IHydroService_SetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/SetDataResponse" message="tns:IHydroService_SetData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/SetDataInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_SetData_InnerServiceExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/SetDataInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_SetData_InputDataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetDataValue" message="tns:IHydroService_GetDataValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetDataValueResponse" message="tns:IHydroService_GetDataValue_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetDataValueInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetDataValue_InputDataExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetDataValueInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetDataValue_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetDataValues" message="tns:IHydroService_GetDataValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetDataValuesResponse" message="tns:IHydroService_GetDataValues_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetDataValuesInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetDataValues_InnerServiceExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetDataValuesInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetDataValues_InputDataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataValuesForReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetDataValuesForReport" message="tns:IHydroService_GetDataValuesForReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetDataValuesForReportResponse" message="tns:IHydroService_GetDataValuesForReport_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetDataValuesForReportInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetDataValuesForReport_InnerServiceExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetDataValuesForReportInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetDataValuesForReport_InputDataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDataValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetAllDataValue" message="tns:IHydroService_GetAllDataValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetAllDataValueResponse" message="tns:IHydroService_GetAllDataValue_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetAllDataValueInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetAllDataValue_InnerServiceExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetAllDataValueInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetAllDataValue_InputDataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDataValueLocal">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetAllDataValueLocal" message="tns:IHydroService_GetAllDataValueLocal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetAllDataValueLocalResponse" message="tns:IHydroService_GetAllDataValueLocal_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetAllDataValueLocalInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetAllDataValueLocal_InputDataExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetAllDataValueLocalInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetAllDataValueLocal_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataValueLocal">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetDataValueLocal" message="tns:IHydroService_GetDataValueLocal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetDataValueLocalResponse" message="tns:IHydroService_GetDataValueLocal_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetDataValueLocalInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetDataValueLocal_InputDataExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetDataValueLocalInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetDataValueLocal_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataValuesLocal">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetDataValuesLocal" message="tns:IHydroService_GetDataValuesLocal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetDataValuesLocalResponse" message="tns:IHydroService_GetDataValuesLocal_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetDataValuesLocalInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetDataValuesLocal_InputDataExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetDataValuesLocalInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetDataValuesLocal_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataValuesForReportLocal">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetDataValuesForReportLocal" message="tns:IHydroService_GetDataValuesForReportLocal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetDataValuesForReportLocalResponse" message="tns:IHydroService_GetDataValuesForReportLocal_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetDataValuesForReportLocalInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetDataValuesForReportLocal_InputDataExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetDataValuesForReportLocalInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetDataValuesForReportLocal_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWaterObjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetWaterObjects" message="tns:IHydroService_GetWaterObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetWaterObjectsResponse" message="tns:IHydroService_GetWaterObjects_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetWaterObjectsInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetWaterObjects_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSitesWithoutWaterObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetSitesWithoutWaterObject" message="tns:IHydroService_GetSitesWithoutWaterObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetSitesWithoutWaterObjectResponse" message="tns:IHydroService_GetSitesWithoutWaterObject_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetSitesWithoutWaterObjectInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetSitesWithoutWaterObject_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWaterObjectBySite">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetWaterObjectBySite" message="tns:IHydroService_GetWaterObjectBySite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetWaterObjectBySiteResponse" message="tns:IHydroService_GetWaterObjectBySite_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetWaterObjectBySiteInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetWaterObjectBySite_InputDataExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetWaterObjectBySiteInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetWaterObjectBySite_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveWaterObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/SaveWaterObject" message="tns:IHydroService_SaveWaterObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/SaveWaterObjectResponse" message="tns:IHydroService_SaveWaterObject_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/SaveWaterObjectInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_SaveWaterObject_InnerServiceExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/SaveWaterObjectInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_SaveWaterObject_InputDataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveWaterObjectOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/SaveWaterObjectOrder" message="tns:IHydroService_SaveWaterObjectOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/SaveWaterObjectOrderResponse" message="tns:IHydroService_SaveWaterObjectOrder_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/SaveWaterObjectOrderInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_SaveWaterObjectOrder_InputDataExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/SaveWaterObjectOrderInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_SaveWaterObjectOrder_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGeoTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetAllGeoTypes" message="tns:IHydroService_GetAllGeoTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetAllGeoTypesResponse" message="tns:IHydroService_GetAllGeoTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetAllGeoTypesInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetAllGeoTypes_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGeoType">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetGeoType" message="tns:IHydroService_GetGeoType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetGeoTypeResponse" message="tns:IHydroService_GetGeoType_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetGeoTypeInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetGeoType_InputDataExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetGeoTypeInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetGeoType_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastClimateInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetLastClimateInfo" message="tns:IHydroService_GetLastClimateInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetLastClimateInfoResponse" message="tns:IHydroService_GetLastClimateInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetLastClimateInfoInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetLastClimateInfo_InnerServiceExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetLastClimateInfoInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetLastClimateInfo_InputDataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastSiteCriteria">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetLastSiteCriteria" message="tns:IHydroService_GetLastSiteCriteria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetLastSiteCriteriaResponse" message="tns:IHydroService_GetLastSiteCriteria_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetLastSiteCriteriaInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetLastSiteCriteria_InputDataExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetLastSiteCriteriaInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetLastSiteCriteria_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteCriterias">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetSiteCriterias" message="tns:IHydroService_GetSiteCriterias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetSiteCriteriasResponse" message="tns:IHydroService_GetSiteCriterias_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetSiteCriteriasInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetSiteCriterias_InnerServiceExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetSiteCriteriasInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetSiteCriterias_InputDataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCriteria">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/SaveCriteria" message="tns:IHydroService_SaveCriteria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/SaveCriteriaResponse" message="tns:IHydroService_SaveCriteria_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/SaveCriteriaInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_SaveCriteria_InnerServiceExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/SaveCriteriaInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_SaveCriteria_InputDataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCriteriaTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetCriteriaTypes" message="tns:IHydroService_GetCriteriaTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetCriteriaTypesResponse" message="tns:IHydroService_GetCriteriaTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetCriteriaTypesInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetCriteriaTypes_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSitesByWaterObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetSitesByWaterObject" message="tns:IHydroService_GetSitesByWaterObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetSitesByWaterObjectResponse" message="tns:IHydroService_GetSitesByWaterObject_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetSitesByWaterObjectInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetSitesByWaterObject_InputDataExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetSitesByWaterObjectInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetSitesByWaterObject_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteList">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetSiteList" message="tns:IHydroService_GetSiteList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetSiteListResponse" message="tns:IHydroService_GetSiteList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetSiteListInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetSiteList_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSite">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetSite" message="tns:IHydroService_GetSite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetSiteResponse" message="tns:IHydroService_GetSite_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetSiteInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetSite_InnerServiceExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetSiteInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetSite_InputDataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveSiteWithRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/SaveSiteWithRelation" message="tns:IHydroService_SaveSiteWithRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/SaveSiteWithRelationResponse" message="tns:IHydroService_SaveSiteWithRelation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/SaveSiteWithRelationInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_SaveSiteWithRelation_InputDataExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/SaveSiteWithRelationInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_SaveSiteWithRelation_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteListWithParent">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetSiteListWithParent" message="tns:IHydroService_GetSiteListWithParent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetSiteListWithParentResponse" message="tns:IHydroService_GetSiteListWithParent_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetSiteListWithParentInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetSiteListWithParent_InputDataExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetSiteListWithParentInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetSiteListWithParent_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetSiteTypes" message="tns:IHydroService_GetSiteTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetSiteTypesResponse" message="tns:IHydroService_GetSiteTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetSiteTypesInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetSiteTypes_InputDataExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetSiteTypesInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetSiteTypes_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVariable">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetVariable" message="tns:IHydroService_GetVariable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetVariableResponse" message="tns:IHydroService_GetVariable_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetVariableInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetVariable_InnerServiceExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetVariableInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetVariable_InputDataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteTypeVariables">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetSiteTypeVariables" message="tns:IHydroService_GetSiteTypeVariables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetSiteTypeVariablesResponse" message="tns:IHydroService_GetSiteTypeVariables_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetSiteTypeVariablesInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetSiteTypeVariables_InnerServiceExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetSiteTypeVariablesInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetSiteTypeVariables_InputDataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSiteGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetAllSiteGroups" message="tns:IHydroService_GetAllSiteGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetAllSiteGroupsResponse" message="tns:IHydroService_GetAllSiteGroups_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetAllSiteGroupsInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetAllSiteGroups_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributesForSite">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetAttributesForSite" message="tns:IHydroService_GetAttributesForSite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetAttributesForSiteResponse" message="tns:IHydroService_GetAttributesForSite_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetAttributesForSiteInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetAttributesForSite_InputDataExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetAttributesForSiteInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetAttributesForSite_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteAttributeTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetSiteAttributeTypes" message="tns:IHydroService_GetSiteAttributeTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetSiteAttributeTypesResponse" message="tns:IHydroService_GetSiteAttributeTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetSiteAttributeTypesInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetSiteAttributeTypes_InnerServiceExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetSiteAttributeTypesInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetSiteAttributeTypes_InputDataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveSiteAttribute">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/SaveSiteAttribute" message="tns:IHydroService_SaveSiteAttribute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/SaveSiteAttributeResponse" message="tns:IHydroService_SaveSiteAttribute_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/SaveSiteAttributeInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_SaveSiteAttribute_InputDataExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/SaveSiteAttributeInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_SaveSiteAttribute_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteAttribute">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetSiteAttribute" message="tns:IHydroService_GetSiteAttribute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetSiteAttributeResponse" message="tns:IHydroService_GetSiteAttribute_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetSiteAttributeInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetSiteAttribute_InputDataExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetSiteAttributeInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetSiteAttribute_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSensorDifferences">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetSensorDifferences" message="tns:IHydroService_GetSensorDifferences_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetSensorDifferencesResponse" message="tns:IHydroService_GetSensorDifferences_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetSensorDifferencesInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetSensorDifferences_InnerServiceExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetSensorDifferencesInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetSensorDifferences_InputDataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataValueFromId">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetDataValueFromId" message="tns:IHydroService_GetDataValueFromId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetDataValueFromIdResponse" message="tns:IHydroService_GetDataValueFromId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetDataValueFromIdInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetDataValueFromId_InputDataExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetDataValueFromIdInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetDataValueFromId_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSource">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetDataSource" message="tns:IHydroService_GetDataSource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetDataSourceResponse" message="tns:IHydroService_GetDataSource_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetDataSourceInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetDataSource_InputDataExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetDataSourceInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetDataSource_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurve">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetCurve" message="tns:IHydroService_GetCurve_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetCurveResponse" message="tns:IHydroService_GetCurve_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetCurveInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetCurve_InputDataExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetCurveInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetCurve_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQualifiers">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetQualifiers" message="tns:IHydroService_GetQualifiers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetQualifiersResponse" message="tns:IHydroService_GetQualifiers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetQualifiersInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetQualifiers_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetCategory" message="tns:IHydroService_GetCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetCategoryResponse" message="tns:IHydroService_GetCategory_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetCategoryInputDataExceptionFault" name="InputDataExceptionFault" message="tns:IHydroService_GetCategory_InputDataExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHydroService/GetCategoryInnerServiceExceptionFault" name="InnerServiceExceptionFault" message="tns:IHydroService_GetCategory_InnerServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetData" message="tns:IHydroService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetDataResponse" message="tns:IHydroService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataByFormDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetDataByFormDate" message="tns:IHydroService_GetDataByFormDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetDataByFormDateResponse" message="tns:IHydroService_GetDataByFormDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVariables">
      <wsdl:input wsaw:Action="http://tempuri.org/IHydroService/GetAllVariables" message="tns:IHydroService_GetAllVariables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHydroService/GetAllVariablesResponse" message="tns:IHydroService_GetAllVariables_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHydroService" type="tns:IHydroService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Hello">
      <soap:operation soapAction="http://tempuri.org/IHydroService/Hello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetData">
      <soap:operation soapAction="http://tempuri.org/IHydroService/SetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDataValue">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetDataValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDataValues">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetDataValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDataValuesForReport">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetDataValuesForReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllDataValue">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetAllDataValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllDataValueLocal">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetAllDataValueLocal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDataValueLocal">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetDataValueLocal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDataValuesLocal">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetDataValuesLocal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDataValuesForReportLocal">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetDataValuesForReportLocal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetWaterObjects">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetWaterObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSitesWithoutWaterObject">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetSitesWithoutWaterObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetWaterObjectBySite">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetWaterObjectBySite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveWaterObject">
      <soap:operation soapAction="http://tempuri.org/IHydroService/SaveWaterObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveWaterObjectOrder">
      <soap:operation soapAction="http://tempuri.org/IHydroService/SaveWaterObjectOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllGeoTypes">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetAllGeoTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetGeoType">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetGeoType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLastClimateInfo">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetLastClimateInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLastSiteCriteria">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetLastSiteCriteria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSiteCriterias">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetSiteCriterias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveCriteria">
      <soap:operation soapAction="http://tempuri.org/IHydroService/SaveCriteria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCriteriaTypes">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetCriteriaTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSitesByWaterObject">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetSitesByWaterObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSiteList">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetSiteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSite">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveSiteWithRelation">
      <soap:operation soapAction="http://tempuri.org/IHydroService/SaveSiteWithRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSiteListWithParent">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetSiteListWithParent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSiteTypes">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetSiteTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetVariable">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetVariable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSiteTypeVariables">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetSiteTypeVariables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllSiteGroups">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetAllSiteGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAttributesForSite">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetAttributesForSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSiteAttributeTypes">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetSiteAttributeTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveSiteAttribute">
      <soap:operation soapAction="http://tempuri.org/IHydroService/SaveSiteAttribute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSiteAttribute">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetSiteAttribute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSensorDifferences">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetSensorDifferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDataValueFromId">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetDataValueFromId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDataSource">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetDataSource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCurve">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetCurve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQualifiers">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetQualifiers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InputDataExceptionFault">
        <soap:fault use="literal" name="InputDataExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InnerServiceExceptionFault">
        <soap:fault use="literal" name="InnerServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByFormDate">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetDataByFormDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllVariables">
      <soap:operation soapAction="http://tempuri.org/IHydroService/GetAllVariables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HydroService">
    <wsdl:port name="BasicHttpBinding_IHydroService" binding="tns:BasicHttpBinding_IHydroService">
      <soap:address location="http://10.8.3.180:8002/HydroService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>