News/Service References/MeteoService/HydroService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.8.3.180:8002/HydroService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://10.8.3.180:8002/HydroService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AmurHydroLibrary.Reports" />
  <xs:element name="Hello">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="site" nillable="true" type="q1:Site" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="dataValueColl" nillable="true" type="q2:DataValueCollection" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="dataSource" nillable="true" type="q3:DataSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
        <xs:element minOccurs="0" name="utcDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="variableId" type="xs:int" />
        <xs:element minOccurs="0" name="offsetTypeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="offsetValue" nillable="true" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDataValueResult" nillable="true" type="q4:DataValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
        <xs:element minOccurs="0" name="utcBeginDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="utcEndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="variableId" type="xs:int" />
        <xs:element minOccurs="0" name="offsetTypeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="offsetValue" nillable="true" type="xs:float" />
        <xs:element minOccurs="0" name="stepInHours" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDataValuesResult" nillable="true" type="q5:DataValueCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataValuesForReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
        <xs:element minOccurs="0" name="utcBeginDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="utcEndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="variableId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="srokUTC" type="xs:int" />
        <xs:element minOccurs="0" name="reportId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="offsetTypeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="offsetValue" nillable="true" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataValuesForReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDataValuesForReportResult" nillable="true" type="q6:DataValueCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
        <xs:element minOccurs="0" name="utcDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="variableId" type="xs:int" />
        <xs:element minOccurs="0" name="offsetTypeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="offsetValue" nillable="true" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllDataValueResult" nillable="true" type="q7:DataValueCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataValueLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="variableId" type="xs:int" />
        <xs:element minOccurs="0" name="offsetTypeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="offsetValue" nillable="true" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataValueLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllDataValueLocalResult" nillable="true" type="q8:DataValueCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataValueLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="variableId" type="xs:int" />
        <xs:element minOccurs="0" name="offsetTypeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="offsetValue" nillable="true" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataValueLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDataValueLocalResult" nillable="true" type="q9:DataValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataValuesLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
        <xs:element minOccurs="0" name="beginDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="variableId" type="xs:int" />
        <xs:element minOccurs="0" name="offsetTypeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="offsetValue" nillable="true" type="xs:float" />
        <xs:element minOccurs="0" name="stepInHours" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataValuesLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDataValuesLocalResult" nillable="true" type="q10:DataValueCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataValuesForReportLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
        <xs:element minOccurs="0" name="beginDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="variableId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="srokUTC" type="xs:int" />
        <xs:element minOccurs="0" name="reportId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="offsetTypeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="offsetValue" nillable="true" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataValuesForReportLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDataValuesForReportLocalResult" nillable="true" type="q11:DataValueCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaterObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="withTree" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaterObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetWaterObjectsResult" nillable="true" type="q12:WaterObjectCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesWithoutWaterObject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesWithoutWaterObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSitesWithoutWaterObjectResult" nillable="true" type="q13:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaterObjectBySite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaterObjectBySiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetWaterObjectBySiteResult" nillable="true" type="q14:WaterObjectCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWaterObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="waterObject" nillable="true" type="q15:WaterObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWaterObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWaterObjectOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="coll" nillable="true" type="q16:WaterObjectCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWaterObjectOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGeoTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGeoTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllGeoTypesResult" nillable="true" type="q17:ArrayOfGeoType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetGeoTypeResult" nillable="true" type="q18:GeoType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastClimateInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
        <xs:element minOccurs="0" name="climateInfoTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="variableId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastClimateInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetLastClimateInfoResult" nillable="true" type="q19:ClimateInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastSiteCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
        <xs:element minOccurs="0" name="variableId" type="xs:int" />
        <xs:element minOccurs="0" name="criteriaTypeId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastSiteCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetLastSiteCriteriaResult" nillable="true" type="q20:ArrayOfCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteCriterias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteCriteriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSiteCriteriasResult" nillable="true" type="q21:ArrayOfCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="criteria" nillable="true" type="q22:Criteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SaveCriteriaResult" nillable="true" type="q23:Criteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCriteriaTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCriteriaTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetCriteriaTypesResult" nillable="true" type="q24:ArrayOfCriteriaType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesByWaterObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="waterObjectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesByWaterObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSitesByWaterObjectResult" nillable="true" type="q25:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteTypeId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSiteListResult" nillable="true" type="q26:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="typeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSiteResult" nillable="true" type="q27:Site" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSiteWithRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="site" nillable="true" type="q28:Site" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="wo" nillable="true" type="q29:WaterObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSiteWithRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SaveSiteWithRelationResult" nillable="true" type="q30:Site" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteListWithParent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteListWithParentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSiteListWithParentResult" nillable="true" type="q31:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSiteTypesResult" nillable="true" type="q32:SiteTypeCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="variableId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetVariableResult" nillable="true" type="q33:Variable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteTypeVariables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteTypeVariablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSiteTypeVariablesResult" nillable="true" type="q34:VariableCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSiteGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSiteGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllSiteGroupsResult" nillable="true" type="q35:SiteGroupCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributesForSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributesForSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAttributesForSiteResult" nillable="true" type="q36:SiteAttributeCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteAttributeTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteAttributeTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSiteAttributeTypesResult" nillable="true" type="q37:ArrayOfSiteAttributeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSiteAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="attr" nillable="true" type="q38:SiteAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSiteAttributeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
        <xs:element minOccurs="0" name="siteAttrTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteAttributeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSiteAttributeResult" nillable="true" type="q39:SiteAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorDifferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="site1" nillable="true" type="q40:Site" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="site2" nillable="true" type="q41:Site" />
        <xs:element minOccurs="0" name="variableId" type="xs:int" />
        <xs:element minOccurs="0" name="utcBeginDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="utcEndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="delta" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorDifferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/AmurHydroLibrary.Reports" minOccurs="0" name="GetSensorDifferencesResult" nillable="true" type="q42:SensorDifference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataValueFromId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
        <xs:element minOccurs="0" name="variableId" type="xs:int" />
        <xs:element minOccurs="0" name="dataValueId" type="xs:int" />
        <xs:element minOccurs="0" name="isCalc" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataValueFromIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDataValueFromIdResult" nillable="true" type="q43:DataValueCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDataSourceResult" nillable="true" type="q44:DataSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurve">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
        <xs:element minOccurs="0" name="variableXId" type="xs:int" />
        <xs:element minOccurs="0" name="variableYId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetCurveResult" nillable="true" type="q45:Curve" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualifiers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualifiersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetQualifiersResult" nillable="true" type="q46:ArrayOfQualifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="variableId" type="xs:int" />
        <xs:element minOccurs="0" name="datavalue" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetCategoryResult" nillable="true" type="q47:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
        <xs:element minOccurs="0" name="sourceTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="utcDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="variableId" type="xs:int" />
        <xs:element minOccurs="0" name="duration" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDataResult" nillable="true" type="q48:DataValueCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByFormDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
        <xs:element minOccurs="0" name="sourceTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="utcDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="variableId" type="xs:int" />
        <xs:element minOccurs="0" name="duration" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="dateForm" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByFormDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDataByFormDateResult" nillable="true" type="q49:DataValueCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVariables">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVariablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllVariablesResult" nillable="true" type="q50:VariableCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>